<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicalendar.mapper.MemorialMapper">

    <select id="selectByType" resultType="com.aicalendar.entity.Memorial">
        SELECT * FROM memorial 
        WHERE type = #{type} 
        ORDER BY date ASC
    </select>

    <select id="selectByTypeNot" resultType="com.aicalendar.entity.Memorial">
        SELECT * FROM memorial 
        WHERE type != #{type} 
        ORDER BY date ASC
    </select>

    <select id="selectUpcoming" resultType="com.aicalendar.entity.Memorial">
        SELECT * FROM memorial 
        WHERE date >= #{startDate} AND date &lt;= #{endDate} 
        ORDER BY date ASC
    </select>

    <select id="selectByMonth" resultType="com.aicalendar.entity.Memorial">
        SELECT * FROM memorial 
        WHERE MONTH(date) = #{month} 
        ORDER BY DAY(date) ASC
    </select>

</mapper>